.auth-bg-img{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.auth-layout-bg{
    max-width: 996px;
    width: 100%;
    border: 1px solid #FFFFFF1A;
    background-size: cover;
    border-radius: 20px;
}
