.tabs:has(.ChoosePlan) {
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    max-width: 290px !important;
    padding: 5px;
    border-radius: 100px;
    background-color:#201b1e;
    color: white;
}
